# Зависимости
node_modules/
.pnp
.pnp.js

# Сборка Next.js (самое важное!)
.next/
out/

# Продакшн-сборка
dist/
build/

# Секреты
.env*
!.env.example

# Vercel / CI кэш
.vercel
.turbo

# Тесты
coverage/

# TypeScript инкрементальная сборка
*.tsbuildinfo
next-env.d.ts